/Test1/nbproject/private/
/test2/nbproject/private/
/Test1/build/
/test 2/nbproject/private/
/test 2/build/
/Savings/nbproject/private/
/Savings/build/
/Cinema Reservation System/nbproject/private/
/Cinema Reservation System/build/
/skecth/nbproject/private/
/skecth/build/
/GrossPayCalculator/nbproject/private/
/GrossPayCalculator/build/